
.heder-1,.heder-3{
	text-align:left;
	border-bottom: 1px solid black;
}
.heder-2
{
	width:22%;
	text-align:center;
}
.body-1{
	border: 1px solid black;
	text-align:center;
}

.heder-2-1{
	
	
	border-bottom: solid 1px black;
	
}

.body-3{
	
	 border-left: solid 1px black;
	
}

.body-4{
	border: 1px solid black;
}
.body-4-1{
	height:50%;
}
.slova{
	 font-size:22px;
}
table{
	border: 1px solid black;
	border-collapse: collapse;
}
/*9b9b9b*/
.form__field {
  border: 0;
  border-bottom: 2px solid #ffff;
  font-size:22px;
  color: #0000;
  margin-left:8px;
  background: transparent;
  transition: border-color 0.2s;
}
::placeholder {
    color: transparent;
  }