/**/
.forma {
  font-family: inherit;
  border: 0;
 
  border-bottom: 2px solid #9b9b9b;
  /*outline: 0;*/
  font-size:16px;
  color: #0000;
  margin-left:8px;
  padding: 8px 0;
  padding-left: 18px;
  background: transparent;
  transition: border-color 0.2s;

}
::placeholder {
  color: transparent;
}